# npm 镜像源配置
registry=https://registry.npmmirror.com/

# pnpm 配置
network-timeout=300000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
node-linker=hoisted

# 其他配置
save-exact=true
package-lock=false
lockfile=true
